:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* outline: 1px solid red; */
}

.cube-net {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vmin;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  flex-grow: 1;
}

.empty-cell {
  display: flex;
  aspect-ratio: 1 / 1;
}

.cube-face {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.75vmin;
  
  aspect-ratio: 1 / 1;
  border-width: 0.75vmin;
  border-style: solid;
  border-color: black;
  border-radius: 0.75vmin;
  background-color: black;
}

.sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  aspect-ratio: 1 / 1;
  /* -webkit-user-select = "none";
  -moz-user-select = "none";
  -ms-user-select = "none";
  -user-select = "none"; */
  border-radius: 0.75vmin;
  /* height: 100%;
  width: 100%; */
}