.cube-net {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* padding: 10px; */
  /* height: 100vmin; */
  width: 100vmin;
  /* background-color: lightblue; */
}

.empty-cell {
  display: flex;
  aspect-ratio: 1 / 1;
}